:root {
    --black-color: #2C2C2C;
    --primary-color: #284362;
    --primary-font: 'Rubik';
    --primary-yellow: #c9a267;
}


@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: 18px;


}

p {
    line-height: 32px;
}

.inner_section {
    max-width: 1400px;
    margin: auto;
    padding: 0px 18px;
}

.inner_responsive {
    display: none;
}










.ab_inner {
    position: relative;
}

.ab_inner-sec {
    display: grid;
    gap: 250px;
}

.ab_inner_sec {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-between;
}



.ab_inner_al {
    background: var(--primary-color);
    padding: 12px;
    border-radius: 5px;
    border: 4px solid var(--primary-yellow);
}

.ab_inner_al h3 {
    margin: 0px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.inner_card_1 {
    left: 0 !important;
}

.inner_card_3 {
    left: 0 !important;
}

.innerwork_card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10;
    transition: all 0.3s ease;
    height: 250px;
    overflow-y: scroll;
}

.innerwork_card {
    list-style: none;
    width: 100%;
    cursor: pointer;
}


.card-bottom {
    top: 110%;
    animation: slideDown 0.3s ease forwards;
}


.card-top {
    bottom: 110%;
    animation: slideUp 0.3s ease forwards;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -10px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(-50%, 10px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}




.ab_inner_img_1::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 79%;
    background: #284362;
    height: 1px;
    transform: rotate(47deg);
    top: 152px;
    left: 100px;
}



.ab_inner_img_2::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 72%;
    background: #284362;
    height: 1px;
    transform: rotate(126deg);
    top: -70px;
    left: 125px;
}

.ab_inner_img_3::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 76%;
    background: #284362;
    height: 1px;
    transform: rotate(127deg);
    top: 150px;
    left: -59px;
    right: 17px;
}

.ab_inner_img_4::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 72%;
    background: #284362;
    height: 1px;
    transform: rotate(53deg);
    top: -71px;
    left: -56px;
}


/*HEADER CSS*/


.industry_menu{
position:relative;
}

.menu_link{
display:flex;
align-items:center;
gap:6px;
cursor:pointer;
position: relative;
}

ul.sub_menu {
    padding-bottom: 10px;
}
 

li.sub_child-list a {
    color: var(--primary-yellow)!important;
    font-size: 18px;
    text-decoration: underline!important;
    font-weight: 400!important;
}
li.sub_child-list {
    padding-bottom: 10px;
}

.menu_arrow{
transition:0.3s;
color:#fff;
}

.menu_arrow.rotate{
transform:rotate(180deg);
}
 
.sub_menu_wrapper {
    background: var(--black-color);
    gap: 8px;
    width: 500px;
    padding: 20px;
    display: grid;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    box-shadow: 0 15px 50px 1px #0000001a;
    border: 1px solid #c9a2673d;

}
.menu_link::before {
    content: "";
    width: 100%;
    height: 22px;
    background: transparent;
    position: absolute;
    top: 25px;
}
ul.sub_menu {
    padding: 0px;
    list-style: none;
}

ul.sub_menu:not(:last-child) {
    border-bottom: 1px solid #ffffff52;
}

.submenu_title{
font-weight:600;
margin-bottom:10px;
font-size: 26px;
color:#fff;
}


.main_header_outer {
    width: 100%;
    transition: transform 0.5s ease, background 0.3s ease, box-shadow 0.3s ease;
}


.main_header_outer.active-header {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    z-index: 999999999;
    border-bottom: 8px solid var(--primary-yellow);
}

.main_header_outer.hide-header {
    transform: translateY(-100%);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0.8;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.top_bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.top_bar a {
    color: var(--primary-yellow);
}

.part_3 {
    display: flex;
    justify-content: end;
}

.part_1 a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.part_3 a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.top_bar-header {
    background: var(--black-color);
}

.top_bar p {
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.main_header {
    background: var(--primary-color);
    padding: 7px 0px;
}

.header_2 {
    display: flex;
    justify-content: end;
}

.header {
    display: grid;
    grid-template-columns: 18% 1fr;
    gap: 10px;
    align-items: center;
    position: relative;
}

.header_3 {
    display: flex;
    justify-content: end;
}

ul.nav_wrapper {
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 45px;
    justify-content: center;
}

ul.nav_wrapper li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

ul.nav_wrapper {
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 45px;
    justify-content: center;
}

ul.nav_wrapper li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}



.header_3 button {
    padding: 16px 33px;
    border-radius: 4px;
    cursor: pointer;
}

.header_3 button a {

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}


/*FOOTER CSS*/

.footer_outer {
    background: #284362;
    color: #fff;
}



.footer_outer {
    background: #284362;
    color: #fff;
    padding: 60px 0px 24px 0px;
}

.main_footer_first {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding-bottom: 50px;
}

h3.footer_h {
    margin: 0px 0px 35px 0px;
    font-size: 20px;
}

ul.footer_nav {
    padding: 0px;
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul.footer_nav li a {
    color: #fff;
    text-decoration: none;

}

.second_footer_outer {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.f_right_section {
    display: flex;
    gap: 30px;
}

.main_footer_second {
    border-top: 1px solid;
}

.f_left_section p {
    margin: 0px;
}







.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


/*HOMEPAGE CSS*/
.global_button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 35px 0px;
}

button.m_button {
    padding: 10px 20px;
    font-size: 18px;
    border: unset;
    border-radius: 4px;
}

.slider_container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider_track {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    flex-shrink: 0;
    text-align: center;
    width: 100%;
    height: 759px;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev_btn,
.next_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev_btn {
    left: 10px;
}

.next_btn {
    right: 10px;
}

.dots {
    text-align: center;
    margin-top: 35px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 5px;
    background: gray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background: black;
}

.slide img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
}

.slider_content {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1150px;
    margin: auto;
}

.slider_heading h3 {
    font-size: 80px;
    margin: 0 0 35px 0;
}




/*ABOUT US SECTION*/
.inner_resp {
    display: none;
}

.video_card img {
    width: 100%;
    cursor: pointer;
}

.ab_wrapper {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 30px;
}

.ab_right {
    grid-template-columns: 1fr 30% 1fr;
    align-items: center;
    gap: 20px;
    display: grid;
    background: #faf9f6;
    padding: 33px;
    border-radius: 6px;
}

.ab_inner_img img {
    width: 200px;
    border: 2px solid var(--primary-yellow);
    border-radius: 8px;
}

.section_m_heading {
    font-size: 60px;
    margin: 0px;
}

.top_heading {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-yellow);
    margin-left: 78px;
}



.ab_feature {
    display: flex;
    gap: 20px;
    align-items: center;
}

.a_b_right h4 {
    margin: 0px;
    font-size: 24px;
    color: #284362;
}

.a_b_left {
    background: #F2EEEE;
    padding: 14px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.a_b_right p {
    margin: 7px 0px 0px 0px;
}

.ab_feature_wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

h4.top_heading::before {
    content: "";
    position: absolute;
    left: -78px;
    top: 8px;
    background: url('https://api.innerworkgroups.com/wp-content/uploads/2026/03/Line.png');
    background-size: cover;
    height: 1px;
    width: 64px;
}


.about_outer {
    padding: 60px 0px;
}



.ab_feature {
    display: flex;
    gap: 20px;
    align-items: center;
}

.a_b_right h4 {
    margin: 0px;
    font-size: 24px;
    color: var(--primary-color);
}

.a_b_left {
    background: #F2EEEE;
    padding: 14px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.a_b_right p {
    margin: 8px 0px 0px 0px;
}

.ab_feature_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}








/*PHIL SECTION*/

.ph_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 33px;
}

.ph_card {
    padding: 35px;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    background: #fff;
}

.ph_content h3 {
    font-size: 36px;
    margin: 0px;
    color: var(--primary-color);
}



.ph_content p {
    line-height: 32px;
    margin: 14px 0px 0px;
}



.p_icon img {
    padding: 18px;
    background: #F4F4F4;
    border-radius: 6px;
}

.p_icon {
    margin-bottom: 50px;
}




/*INNERWORK*/

.our_phil_outer {
    background: #FAF9F6;
    padding: 60px 0px;
    position: relative;
}


.phip_content p {
    margin: 0px;
    line-height: 32px;
}

.left_sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 35px;
}

.philos_wrapper {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 44px;
}

.img_wrap img {
    width: 100%;
    height: 100%;
}

.inn_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.inn_right .in_card:nth-child(5) {
    grid-column: 1/3;
}

.in_card {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    z-index: 99;
}

.heading h3 {
    font-size: 24px;
    text-transform: capitalize;

}

.slider_para p {
    line-height: 28px;
    margin: 0px;
}

.in_card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background: #28446263;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0px;
    border-radius: 8px 8px 0px 0px;
}



.phip_content h3 {
    font-size: 36px;
    text-transform: capitalize;
    color: var(--primary-color);
    margin: 0px 0px 18px 0px;
    word-break: break-word;
}





/*COMMINITY ENGAMENET SECTION*/

.commu_eng_outer {
    padding: 60px 0px;
}

.com_grid {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 33px;
}

.com_left p {
    line-height: 32px;
    margin-top: 20px;
}

.com_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.com_gal img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.com_slider_wrapper {
    position: relative;
    overflow: hidden;
}

.com_slider_track {
    display: flex;
    transition: transform 0.5s ease;
}

.com_slide {
    min-width: 100%;
}

.com_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}




.arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: #000;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 6px 12px;
    cursor: pointer;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}


.dots {
    text-align: center;
    margin-top: 15px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background: var(--primary-color);
}


.gallery_modal {
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
}

.modal_content {
    position: relative;
    z-index: 10;
    width: 80%;
    max-width: 900px;
}

.modal_img {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.close_btn {
    cursor: pointer;
    background: #c9a267;
    border: none;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

.modal_prev,
.modal_next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    font-size: 28px;
    padding: 8px 14px;
    cursor: pointer;
}

.modal_prev {
    left: -50px;
}

.modal_next {
    right: -50px;
}






/*OUR GLOBAL PRESENSE*/

.global_outer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 35px;
}

.g_list li {
    list-style: none;
    padding: 8px;
    background: #E7E7E7;
    border-radius: 8px;
}

h3.global_pres_heading {
    margin: 0px 0px 20px 0px;
    font-size: 36px;
    text-transform: uppercase;
}

.our_global_outer {
    padding: 50px 0px;
}

.g_list li {
    display: flex;
    gap: 19px;
    align-items: center;
}

.g_list img {
    height: 100%;
}

.global_c_outer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}





/*CONTACT US PAGE*/

.contact_outer {
    padding: 60px 0px;
}

.cont_s_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
}

.con_left img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form_outer {
    display: grid;
    gap: 18px;
}

.form_group label {
    text-transform: capitalize;
}

.form_group input {
    padding: 14px 12px;
    border: 1px solid #8080805c;
    border-radius: 4px;
}

.button_group button {
    background: var(--primary-yellow);
    width: 100%;
    padding: 12px;
    border: unset;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: var(--primary-font);
    margin-top: 18px;

}

.con_right {
    padding: 24px;
    box-shadow: 0 15px 50px 1px rgba(0, 0, 0, .1);
    border-radius: 4px;
    background: #ffff;
}

.form_group input:focus-visible {
    border: unset;
    outline: unset;
}

.form_group input:focus {
    border: 1px solid var(--primary-yellow);
    outline: unset;
}


.number_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background: #faf9f6;
    padding: 20px;
    border-radius: 4px;
    margin-top: 33px;
}

.c_n_card {
    background: #fff;
    padding: 12px;
    border-radius: 5px;
}

.c_n_card h4 {
    margin: 0px;
    display: flex;
    font-size: 22px;
    color: var(--primary-color);
}



.c_n_w a {
    text-decoration: none;
    color: var(--primary-yellow);
    font-size: 18px;

}

.c_n_w a:hover {
    text-decoration: underline;

}

.c_n_w {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.phone_item {
    display: flex;
    gap: 12px;
}

.phone_item svg.icon {
    color: var(--primary-yellow);
}


.c_address_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
    background: #faf9f6;
    padding: 20px;
    margin-top: 33px;
    border-radius: 8px;
}

.address_w h4 {
    margin: 0px;
    font-size: 27px;
    color: var(--primary-color);
}

.address_w p {
    font-size: 16px;
}

.email_wrapper {
    margin-top: 33px;
}

.c_e_card {
    display: flex;
    align-items: center;
    gap: 12px;
}

.c_e_card svg {
    color: var(--primary-color);
}

.c_e_card a {
    color: var(--primary-color);
}




/*ABOUT US PAGE*/



.ab_ {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: #faf9f6;
    margin-top: 33px;
    z-index: 99;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.about_section {
    z-index: 99;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

h3.ab_sec_heading {
    font-size: 30px;
    color: #000;
    margin: 0px;
}

.ab_outer {
    padding: 40px 0px 60px;
}


.teams_slider {
    overflow: hidden;
    width: 100%;
}

.teams_track {
    display: flex;
    transition: transform 0.6s ease;
    margin: 10px 0px 20px 0px;
}



.team_card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.team_card h3 {
    margin-top: 10px;
    font-size: 26px;
    color: var(--primary-color);
}

.ab_outer-teams {
    background: #faf9f6;
    padding: 60px 0px;
}

.teams_slider {
    overflow: hidden;
    width: 100%;
}


.team_card {
    min-width: 22%;
    padding: 18px;
    cursor: pointer;
    text-align: center;
}

.team_card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.sl_btns {
    display: flex;
    justify-content: end;
    gap: 18px;
}

.sl_btns button {
    padding: 5px 14px;
    background: #c9a267;
    border: indianred;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.slider_dots {
    display: flex;
    justify-content: center;
}

.member_popup {
    position: fixed;
    background: #0000008a;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999999;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_content img {
    width: 200px;
    display: flex;
    text-align: center;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.popup_content {
    max-width: 600px;
    margin: auto;
    padding: 18px;
    background: #fff;
    border-radius: 6px;
}

.p_img {
    display: flex;
    justify-content: center;
    position: relative;
}

.popup_content h2 {
    text-align: center;
    color: var(--primary-color);
}

.popup_content h4 {
    text-align: center;
    margin: 0px;
}

.popup_content p {
    text-align: center;
    color: var(--primary-yellow);
}

.pop_para {
    margin-top: 20px;
    height: 250px;
    overflow-y: scroll;
    line-height: 30px;
}


.videos_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 33px;
}

.video_card {
    width: 100%;
}

.about_section p {
    line-height: 32px;
}

.ab_outer-videos {
    padding: 60px 0px;
}

.video_card iframe,
video {
    height: 100%;
    border-radius: 8px;
}

.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.video-popup-content {
    position: relative;
    background: #000;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    z-index: 2;
}

.video-popup video,
.video-popup iframe {
    width: 100%;
}

.video-close {
    position: absolute;
    top: -40px;
    right: 0;
    background: none;
    color: #fff;
    font-size: 28px;
    border: none;
    cursor: pointer;
}











































/*MEDIA QUERIES*/

@media only screen and (max-width:1240px) {
    .ab_right {

        gap: 14px;
        padding: 16px;

    }
}

@media only screen and (max-width:1024px) {
    .ab_wrapper {
        grid-template-columns: 30% 1fr;
        gap: 12px;

    }
    .header_2.active ul li a {
    color: #000;
    text-align: left;
}

    .ab_ {

        grid-template-columns: repeat(2, 1fr);

    }

    .cont_s_first {

        gap: 20px;

    }

    .ph_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

    .main_footer_first {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;

    }

    .hamburger {
        right: 0;
        display: flex;
        justify-content: end;
        position: absolute;
        color: #fff;
    }

    .header_2 {
        display: none;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        background: white;
        padding: 20px 0;
    }

    .header_2.active {
        display: block;
    }

    .nav_wrapper {
        flex-direction: column;
        align-items: left;
        gap: 20px;
    }

    .header_3 {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .section_m_heading {
        margin: 0;
        font-size: 40px;
    }

    .inn_right {
        grid-template-columns: 1fr;

    }

    .inn_right .in_card:nth-child(5) {
        grid-column: unset;
    }

    .philos_wrapper {

        gap: 20px;

    }

}

@media only screen and (max-width:992px) {
    .cont_s_first {
        grid-template-columns: 40% 1fr;

    }
    
    .team_card {
  
    min-width: 25%;
   
}
.videos_wrapper {
    grid-template-columns: repeat(3, 1fr);
    
}

    .com_grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .ab_right {

        display: none;
    }

    .ab_wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .tabs_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .tabs img {
        width: 100%;
        height: 100%;
    }

    .inner_responsive {
        display: block;
    }

    .content_wrapper {
        border-radius: 8px;
        padding: 0px;
        border-radius: 0px;
        margin-top: 0px;
        border: 1px solid #ffffff5e;
        padding: 12px;
        margin-top: 14px;
    }

    .inner_responsive {
        padding: 12px;
        background: #c9a267;
    }

    .tabs.active {
        filter: invert(1);
    }

    .inner_resp {
        display: block;
    }

    .global_outer {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 20px;
    }

    .number_wrapper {

        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

    .c_address_wrapper {

        gap: 20px;

    }


}

@media only screen and (max-width:768px) {
    .team_card {
        min-width: 48%;
    }
    .cont_s_first {
        grid-template-columns: 1fr;

    }

    .slider_heading h3 {
        font-size: 50px;
    }

    .ab_wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .modal_img {
        object-fit: contain;
        width: 100%;
        max-height: 100%;
    }

    .slider_content {

        padding: 18px;
    }

    .top_bar {
        grid-template-columns: 1fr;
        gap: 0px;
        display: grid;
        padding: 18px 0px;
    }

    .part_3 {
        justify-content: center;
        display: flex;
    }

    .part_1 {
        justify-content: center;
        display: flex;
    }

    .philos_wrapper {
        grid-template-columns: 1fr;
    }

    .inn_right {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:600px) {
    .videos_wrapper {
    grid-template-columns: repeat(2, 1fr);
    
}
.ab_ {
        grid-template-columns: 1fr;
    }
    .number_wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .c_address_wrapper {

        grid-template-columns: 1fr;

    }

    .ph_grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .main_footer_first {
        grid-template-columns: 1fr;

    }

    .inn_right {
        grid-template-columns: 1fr;
    }

    .second_footer_outer {
        justify-content: space-between;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: left;
    }
}

@media only screen and (max-width:480px) {
        .team_card {
        min-width: 100%;
    }
    .section_m_heading {
        font-size: 24px;
        margin: 0px;
    }
    h3.ab_sec_heading {
     
    font-size: 22px;
}
.team_card h3 {
    font-size: 22px;
}

    .map_wrapper {
        height: 250px !important;
    }

    .address_w h4 {

        font-size: 22px;
    }

    .con_right h2 {
        font-size: 22px;
        margin: 0px 0px 16px;
    }

    .global_button {
        justify-content: center;
        gap: 12px;
        margin: 35px 0;
        display: flex;
        flex-direction: column;
    }

    .slider_heading h3 {
        font-size: 36px;
    }

    .ph_content h3 {

        font-size: 22px;
    }

    h3.global_pres_heading {

        font-size: 24px;
    }
}